#basic-nav-dropdown {
    color: black !important;
  }
  
  #navbar {
    background-color: #f6f6f6;
    background-image: linear-gradient(to right, #f6f6f6 0%, #e9e9e9 74%);
  }

  /* .navbar-toggler-white .navbar-toggler-icon {
    filter: invert(1);
} */

/* #navbar-toggler{
    border-color: white;
} */